<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/view/css/AdminPage.css">

</head>
<body>
<div class="header">
    <h1>Admin Page</h1>
</div>
<div class="nav">
    <a href="#add-subject" onclick="showContent('add-subject')">Thêm Môn Học</a>
    <a href="#add-class" onclick="showContent('add-class')">Thêm Lớp</a>
    <a href="#view-subjects" onclick="showContent('view-subjects')">Xem Danh Sách Môn Học</a>
</div>
<div class="container">
    <div id="add-subject" class="content">
        <h2>Thêm Môn Học</h2>
        <div class="form-group">
            <label for="subject-code">Mã Môn Học</label>
            <input type="text" id="subject-code" name="subject-code">
        </div>
        <div class="form-group">
            <label for="subject-name">Tên Môn Học</label>
            <input type="text" id="subject-name" name="subject-name">
        </div>
        <div class="form-group">
            <button type="submit">Thêm Môn Học</button>
        </div>
    </div>
    <div id="add-class" class="content">
        <h2>Thêm Lớp</h2>
        <div class="form-group">
            <label for="class-code">Mã Lớp</label>
            <input type="text" id="class-code" name="class-code">
        </div>
        <div class="form-group">
            <label for="class-name">Tên Lớp</label>
            <input type="text" id="class-name" name="class-name">
        </div>
        <div class="form-group">
            <button type="submit">Thêm Lớp</button>
        </div>
    </div>
    <div id="view-subjects" class="content">
        <h2>Danh Sách Môn Học</h2>
        <div class="filter-group">
            <label for="filter-name"></label><input type="text" id="filter-name" placeholder="Lọc theo tên môn học">
            <label for="filter-code"></label><input type="text" id="filter-code" placeholder="Lọc theo mã môn học">
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Mã Môn Học</th>
                <th>Tên Môn Học</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="buttons">
    <button class="calendar-btn">Calendar</button>
    <button class="logout-btn">Logout</button>
</div>
<script src="/view/scripts/AdminPage.js"></script>
</body>
</html>

